%ul.list-group
  %li.list-group-item.text-muted
    Activity
    %i.fa.fa-dashboard.fa-1x
  %li.list-group-item.text-right
    %span.pull-left
      %strong Posts
    = user.posts_count
  %li.list-group-item.text-right
    %span.pull-left
      %strong Comments
    = user.comments_count
