%li.list-group-item.text-muted Profile
%li.list-group-item.text-right
  %span.pull-left
    %strong Country
  = @user.country
%li.list-group-item.text-right
  %span.pull-left
    %strong Title
  = @user.title
%li.list-group-item.text-right
  %span.pull-left
    %strong Joined
  = @user.joined
