%h4 Recent Activity
.table-responsive
  %table.table.table-hover
    %tbody
      %tr
        %td
          %i.pull-right.fa.fa-edit
          Today, 1:00 - Jeff Manzi liked your post.
      %tr
        %td
          %i.pull-right.fa.fa-edit
          Today, 12:23 - Mark Friendo liked and shared your post.
      %tr
        %td
          %i.pull-right.fa.fa-edit
          Today, 12:20 - You posted a new blog entry title "Why social media is".
      %tr
        %td
          %i.pull-right.fa.fa-edit
          Yesterday - Karen P. liked your post.
      %tr
        %td
          %i.pull-right.fa.fa-edit
          2 Days Ago - Philip W. liked your post.
      %tr
        %td
          %i.pull-right.fa.fa-edit
          2 Days Ago - Jeff Manzi liked your post.
  %hr/
