%h4 Recent Posts
- if @user.posts.any?
  .table-responsive
    %table.table.table-hover
      %tbody
        - @user.posts.each do |post|
          = render 'posts_row', post: post

- else
  %h5 User has not published any posts yet.
