// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-content {
  padding: 10px 15px;
  p {
    margin: 0
  }
  a.read-more {
    font-weight: 500;
    margin-right: 25px;
  }
}
